:root {
    --currentColor: rgba(0, 0, 0, 0.87);
    --currentBgColor: #ffffff;
    --wrapperHoverColor: #d8ad6a;
}

:root[theme="dark"] {
    --currentColor: rgba(255, 255, 255, 0.87);
    --currentBgColor: rgba(0, 0, 0, 0.87);
    --wrapperHoverColor: #5D4037;
}

body {
    margin: 0px;
    min-width: 250px;
    width: auto;
    font-family: sans-serif;
    background-color: var(--currentBgColor);
    user-select: none;
    color: var(--currentColor);
}

.title {
    background-color: #6a4000;
    color: rgba(255, 255, 255, 0.87);
    font-size: 15px;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid #8D6E63;
}

.title > p {
    margin: 0;
}

.wrapper {
    padding: 6px;
    display: flex;
    align-items: center;
}

.wrapper:hover {
    background-color: var(--wrapperHoverColor);
}

.wrapper > svg {
    margin-right: 3px;
    width: 16px;
    height: 16px;
}

.wrapper > span {
    font-size: 14px;
    margin-left: 3px;
}

.separator.dashed {
    border-bottom: 1px dashed #974600;
}

.separator.solid {
    border-bottom: 1px solid #8c5300;
}

.wrapper-switch,
.separator-switch {
    display: none;
}

:root[theme="dark"] svg {
    fill: var(--currentColor);
}
