body {
    margin: 0px;
    min-width: 250px;
    width: auto;
    font-family: sans-serif;
    background-color: #ffffff;
    user-select: none;
}

.title {
    background-color: #6a4000;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

.title > p {
    margin: 0;
}

.wrapper {
    padding: 6px;
    display: flex;
    align-items: center;
}

.wrapper:hover {
    background-color: #d8ad6a;
}

.wrapper > svg {
    margin-right: 3px;
    width: 16px;
    height: 16px;
}

.wrapper > span {
    font-size: 14px;
    margin-left: 3px;
}

.separator.dashed {
    border-bottom: 1px dashed #974600;
}

.separator.solid {
    border-bottom: 1px solid #8c5300;
}

.wrapper-switch,
.separator-switch {
    display: none;
}
