#editorWrapper {
    overflow: auto;
}

.codeMirrorContainer {
    height: 100vh;
}

:root {
    --sBgColor: #ffffff;
    --infoPanelBg: #e8e8ed;
}

:root[theme="dark"] {
    --sBgColor: #262626;
    --infoPanelBg: #333;
}

.infoPanel input[type="search"] {
    color: var(--md-sys-color-on-background);
    background-color: var(--sBgColor);
    border: 2px solid transparent;
    padding-left: 2px;
    width: initial;
    height: initial;
}

.infoPanel input[type="search"]::selection {
    background-color: var(--md-sys-color-primary-container);
}

.infoPanel input[type="search"]:focus {
    border: 2px solid var(--md-ref-palette-primary50);
}

.panelIcon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.panelIcon {
    fill: var(--cm-comment);
}

.panelIcon:hover:not(#searchIcon) {
    fill: var(--md-ref-palette-primary50);
}

.leftSide {
    margin-left: 5px;
}


.infoPanel {
    display: flex;
    position: sticky;
    top: 0;
    background: var(--infoPanelBg);
    z-index: 1000;
    padding: 5px 5px;
    border-bottom: 1px solid var(--cm-comment);
}

.caseToggleBtn {
    border: none;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    outline: none !important;
}

.caseToggleBtn:hover,
.caseToggleBtn.active {
    border: 2px solid var(--md-ref-palette-primary50);
    outline: none;
}

.infoPanel .leftSide,
.infoPanel .rightSide {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex-wrap: wrap;
}

.infoPanel .rightSide {
    margin-left: auto;
}
