:root {
    --sBgColor: #ffffff;
    --infoPanelBg: #e8e8ed;
}

:root.dark {
    --sBgColor: #262626;
    --infoPanelBg: #333;
}

#searchbar {
    color: var(--currentColor);
    background-color: var(--sBgColor);
    border: 2px solid transparent;
    padding-left: 2px;
}

#searchbar:focus {
    border: 2px solid var(--cm-comment);
}

.panelIcon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.panelIcon {
    fill: var(--cm-comment);
}

.panelIcon:hover:not(#searchIcon) {
    fill: var(--currentColor);
}


.rightSide {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
}

.leftSide {
    margin-left: 5px;
}

#infoPanel {
  position: sticky;
  top: 0;
  background: var(--infoPanelBg);
  z-index: 1000;
  padding: 5px 5px;
  border-bottom: 1px solid var(--cm-comment);
}

