.material-icon svg {
    fill: white;
}

.apply {
    background-image: url(../thirdparty/check.svg);
}

.aboutIcon {
    float: left;
    margin-right: 5px;
}

.mui-tabs__bar > li:not(.mui--is-active) > a {
    color: white !important;
}

.mui-tabs__bar > li.mui--is-active {
    border-color: #d8ad6a !important;
}

.mui-tabs__bar > li.mui--is-active > a {
    color: #d8ad6a !important;
}

button {
    color: white !important;
}

.appbar {
    margin-bottom: 15px;
    min-height: 52px;
}

.mui-textfield > input:focus,
.mui-textfield > textarea:focus {
    border-color: #d8ad6a !important;
}

.mui-textfield > input:focus ~ label,
.mui-textfield > textarea:focus ~ label {
    color: initial !important;
}

button .material-icon {
    position: relative;
    top: 3px;
    left: 8px;
    fill: #fff;
}

button .material-icon, .aboutIcon, #sidedrawer .material-icon {
    width: 20px;
    height: 20px;
}

.mui-tabs__bar .material-icon {
    margin-right: 8px;
}

.mui-tabs__bar .material-icon, .sidedrawer-toggle .material-icon {
    fill: #fff;
    width: 24px;
    height: 24px;
}

.mui-tabs__bar {
    overflow-x: unset !important;
}

.mui-textfield textarea {
    padding-top: 5px !important;
    overflow: hidden !important;
    resize: none !important;
}

nav a {
    color: white;
}

#sidedrawer-brand {
    padding-left: 20px;
}

#sidedrawer ul {
    list-style: none;
}

#sidedrawer > ul {
    padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
    padding-top: 15px;
}

#sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -200px;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    transition: transform 0.2s;
    border-right: 1px solid black;
}

body:not(.hide-sidedrawer) #sidedrawer.active {
    transform: translate(200px);
}

body.mui-scroll-lock {
    margin-left: 200px;
}

body.mui-scroll-lock .js-show-sidedrawer,
body:not(.mui-scroll-lock) .js-hide-sidedrawer {
    display: none !important;
}

#sidedrawer ul {
    padding-left: 0px;
}

.mobileMenu li a {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
    text-decoration: none !important;
    color: initial !important;
}

.mobileMenu li a:hover,
.mobileMenu li.mui--is-active {
    background-color: #e0e0e0;
}

.mui-form label {
    white-space: normal !important;
}

@media only screen and (max-width: 650px) {
    textarea {
        margin-top: 15px !important;
    }
}

@media only screen and (max-width: 767px) {
    .appbar {
        display: flex;
        align-items: center;
    }

    .sidedrawer-toggle {
        margin-left: 15px;
        margin-right: 15px;
    }

    .mui--text-title {
        color: white;
        margin-bottom: 5px;
    }

    .brand-logo {
        position: absolute;
        right: 0;
    }

    body.mui-scroll-lock .mui-container-fluid {
        padding-left: 5px !important;
    }

    body.mui-scroll-lock .mui-container-fluid .mui-col-xs-12 {
        padding: 0 !important;
    }
}

#sidedrawer .material-icon {
    margin-right: 10px;
}

.mui-scroll-lock textarea {
    margin-top: 15px !important;
}

body.mui-scroll-lock .mui-btn {
    white-space: normal !important;
    display: flex;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button#updateCookieBase.active {
    pointer-events: none;
}

button#updateCookieBase.active .material-icon {
    animation: spin 1s linear infinite;
    transform-origin: 50%;
}

.mui-tabs__bar > li > a {
    display: flex !important;
    align-items: center;
}
