button .icon {
    position: relative;
    left: 10px;
    bottom: 1px;
}

.tipIcon {
    width: 16px;
    height: 16px;
    margin-left: 0.5rem;
}

button .icon,
.aboutIcon,
.settingsIcon,
#sidedrawer .icon {
    width: 20px;
    height: 20px;
}

.aboutIcon {
    float: left;
    margin-right: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button#updateCookieBase.active {
    pointer-events: none;
}

button#updateCookieBase.active .icon {
    animation: spin 1s linear infinite;
    transform-origin: 50%;
}

.settingsHeader {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.settingsIcon {
    float: right;
    margin-left: 5px;
}

.apply {
    background-image: url(../thirdparty/check.svg);
}

.exportFrame {
    visibility: hidden;
    width: 0;
    height: 0;
}

.navbar ul:not(.dropdown-content) > li.tab > a:not(.active) {
    color: var(--md-sys-color-on-primary-light);
}
.navbar ul:not(.dropdown-content) > li.tab > a.active {
    background-color: transparent;
}

.nav .tab { 
    text-transform: uppercase;
}

.tab .icon {
    width: 24px;
    height: 24px;
    position: relative;
    vertical-align: middle;
}

.tabs .tab .icon {
    top: -2px;
}

.tab a.active .icon {
    fill: var(--md-sys-color-primary-dark);
}

[type="checkbox"] + span:not(.lever) {
    padding-left: 30px;
    line-height: 20px;
}

.d-inline-flex {
    display: inline-flex !important;
}

.settingsIcon:hover,
.tipIcon:hover {
    fill: var(--md-sys-color-primary-dark);
}

.database #version {
    color: var(--md-sys-color-outline);
}

.tabs .tab a.active, .tabs .tab a:focus, .tabs .tab a:hover {
    color: var(--md-sys-color-primary-dark);
}

.tabs .indicator {
    background-color: var(--md-sys-color-primary-dark);
}

.tabs .tab a:focus {
    background-color: var(--md-sys-color-on-primary-dark);
}


.btn.filled {
    fill: var(--md-sys-color-on-primary);
    white-space: normal;
}

.navbar svg, #nav-mobile svg {
    fill: var(--md-sys-color-on-background-dark);
}

.aboutIcon, .settingsIcon, .tipIcon {
   fill: var(--md-sys-color-on-surface-variant);
}

.tab a.active span {
    font-weight: bold;
}

.btn.filled[disabled] {
    opacity: 0.6;
    background-color: var(--md-sys-color-primary) ;
    color: var(--md-sys-color-on-primary);
}

label {
    font-size: 0.9rem;
}

ul {
    margin: 2px;
}

ul li {
    margin-bottom: 2px;
}

form {
    display: flex;
    flex-flow: column;
    max-height: calc(100vh - 82px);
}

.sidenav-trigger .icon {
   width: 24px;
   height: var(--navbar-height-mobile);
}

.navbar.brown .brand-name {
    color: var(--md-sys-color-on-background);
}

.sidenav li.tab span { 
    color: var(--md-sys-color-on-secondary-container-dark);
}

.btn-group .btn:not(:last-child) {
    margin-bottom: 0.5rem !important;
    margin-right: 1rem !important;
}

a:hover:not(.tab a), a:focus:not(.tab a) {
    text-decoration: underline;
}

.sidenav .tab .active {
    background-color: var(--md-sys-color-on-primary-dark) !important;
}

.btn.filled:hover, 
.filled.btn-small:hover, 
.filled.btn-large:hover {
    background-color: #BB7B35;
}

.btn.filled:focus, 
.filled.btn-small:focus, 
.filled.btn-large:focus {
    background-color: #B67732;
}

a {
  color: var(--md-sys-color-primary);
}

a:focus {
  color: var(--md-sys-color-primary);
}

a:visited {
    color: var(--md-ref-palette-primary50);
}

.dropdown-content li:not(.disabled):hover, .dropdown-content li.active {
    background-color: #f5eee9;
}

:root[theme="dark"] .dropdown-content li:not(.disabled):hover, .dropdown-content li.active {
    background-color: #302B26;
}
