:root {
    --cm-def: #AF00DB;
    --cm-domain: #a31515;
    --cm-comment: #777;
    --cm-func: #795E26;
    --cm-arg: #001080;
}

:root.dark {
    --cm-def: #C586C0;
    --cm-domain: #CE9178;
    --cm-comment: #888;
    --cm-func: #DCDCAA;
    --cm-arg: #9CDCFE;
}

.codeMirrorContainer {
    flex-grow: 1;
    min-height: 2em;
    position: relative;
}

.CodeMirror {
    height: 100%;
}

.cm-s-default .cm-comment {
    color: var(--cm-comment);
}

.cm-s-default .cm-def {
    color: var(--cm-def);
}

.cm-domainPart {
    color: var(--cm-domain);
}

.cm-func {
    color: var(--cm-func);
}

.cm-arg {
    color: var(--cm-arg);
}

:root:not(.dark) div.CodeMirror span.CodeMirror-matchingbracket {
    color: inherit;
    background-color: #afa;
    font-weight: bold;
}
