:root {
    --cm-jsdef: #af00db;
    --cm-domain: #a31515;
    --cm-comment: #777;
    --cm-func: #795e26;
    --cm-arg: #001080;
}

:root.dark {
    --cm-jsdef: #c586c0;
    --cm-domain: #ce9178;
    --cm-comment: #888;
    --cm-func: #dcdcaa;
    --cm-arg: #9cdcfe;
}

.cm-comment {
    color: var(--cm-comment);
}

.cm-jsdef {
    color: var(--cm-jsdef);
}

.cm-domainPart {
    color: var(--cm-domain);
}

.cm-func {
    color: var(--cm-func);
}

.cm-arg {
    color: var(--cm-arg);
}

:root:not(.dark) div.cm-editor span.cm-matchingBracket {
    color: inherit;
    background-color: #afa;
    font-weight: bold;
}

.codeMirrorContainer {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.cm-editor {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.cm-editor .cm-scroller {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
}
