/*
http://lesscss.org/ dark theme
Ported to CodeMirror by Peter Kroon
Modified by Filters Heroes
*/
:root.dark .cm-editor {
    line-height: 1.3em;
    background: #262626;
    color: #ebefe7;
    text-shadow: 0 -1px 1px #262626;
}

:root.dark .cm-editor .cm-content {
    padding: 0 8px;
} /*editable code holder*/

:root.dark .cm-editor .cm-cursor {
    border-left: 1px solid white;
}

:root.dark .cm-editor .cm-selectionLayer .cm-selectionBackground {
    background: #45443b;
} /* 33322B*/

:root.dark .cm-editor .cm-line::selection,
:root.dark .cm-editor .cm-line > span::selection,
:root.dark .cm-editor .cm-line > span span::selection,
:root.dark .cm-editor .cm-line::-moz-selection,
:root.dark .cm-editor .cm-line > span::-moz-selection
:root.dark .cm-editor .cm-line > span span::-moz-selection
{
    background: rgba(69, 68, 59, 0.99);
}

:root.dark .cm-editor .cm-gutters {
    background: #262626;
    border-right: 1px solid #aaa;
}

:root.dark .cm-editor .cm-gutterElement {
    color: #777;
}

:root.dark .cm-editor .cm-activeLine{
    background-color: #3c3a3a;
}

:root.dark .cm-editor .cm-activeLineGutter {
    background: #3c3a3a;
    color: #fdf6e3;
}

:root.dark .cm-editor span.cm-matchingBracket {
    color: #7efc7e;
} /*65FC65*/

:root.dark .cm-editor .cm-matchingBracket {
    outline: 1px solid grey;
    color: white !important;
}

:root.dark .cm-editor .cm-gutterElement.cm-gutterMarker {
    color: #599eff;
}

:root.dark .cm-editor .cm-gutterElement.cm-gutterMarker-subtle {
    color: #777;
}


/* :root.dark .cm-editor span.cm-header {
    color: #a0a;
}
:root.dark .cm-editor span.cm-quote {
    color: #090;
}
:root.dark .cm-editor span.cm-keyword {
    color: #599eff;
}
:root.dark .cm-editor span.cm-atom {
    color: #c2b470;
}
:root.dark .cm-editor span.cm-number {
    color: #b35e4d;
}
:root.dark .cm-editor span.cm-def {
    color: white;
}
:root.dark .cm-editor span.cm-variable {
    color: #d9bf8c;
}
:root.dark .cm-editor span.cm-variable-2 {
    color: #669199;
}
:root.dark .cm-editor span.cm-variable-3,
:root.dark .cm-editor span.cm-type {
    color: white;
}
:root.dark .cm-editor span.cm-property {
    color: #92a75c;
}
:root.dark .cm-editor span.cm-operator {
    color: #92a75c;
}
:root.dark .cm-editor span.cm-comment {
    color: #666;
}
:root.dark .cm-editor span.cm-string {
    color: #bcd279;
}
:root.dark .cm-editor span.cm-string-2 {
    color: #f50;
}
:root.dark .cm-editor span.cm-meta {
    color: #738c73;
}
:root.dark .cm-editor span.cm-qualifier {
    color: #555;
}
:root.dark .cm-editor span.cm-builtin {
    color: #ff9e59;
}
:root.dark .cm-editor span.cm-bracket {
    color: #ebefe7;
}
:root.dark .cm-editor span.cm-tag {
    color: #669199;
}
:root.dark .cm-editor span.cm-attribute {
    color: #81a4d5;
}
:root.dark .cm-editor span.cm-hr {
    color: #999;
}
:root.dark .cm-editor span.cm-link {
    color: #7070e6;
}
:root.dark .cm-editor span.cm-error {
    color: #9d1e15;
} */

